body {
    background:#95A5A6;
    font-family:'Be Vietnam', sans-serif;
}

.info p  { 
color: whitesmoke;
font-weight: 25;
}

.info h2 {
font-weight: 999;
font-size: 3rem;
}

.mbody {
    margin-top: 99px;
}


#ogNavbar .navbar-brand {
    font-size: 1.3rem;
    font-weight: 500;
}

#ogNavbar .nav-link {
    color: black;
}

#ogNavbar .nav-link:hover {
    color:whitesmoke;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

#toptext h1 {
  font-size: 8rem;
}


@media (max-width: 1315px) {
    #toptext h1 {
        font-size: 4rem;
      }
}
